beautifulsoup4==4.9.3
certifi==2021.5.30
charset-normalizer==2.0.3
comtypes==1.1.10
docopt==0.6.2
google==3.0.0
idna==3.2
Js2Py==0.71
MouseInfo==0.1.3
packaging==21.0
pipwin==0.5.1
PyAudio @ file:///C:/Users/robin/pipwin/PyAudio-0.2.11-cp39-cp39-win_amd64.whl
PyAutoGUI==0.9.53
PyGetWindow==0.0.9
pyjsparser==2.7.1
PyMsgBox==1.0.9
pyparsing==2.4.7
pyperclip==1.8.2
pypiwin32==223
PyPrind==2.11.3
PyRect==0.1.4
PyScreeze==0.1.27
pySmartDL==1.3.4
pyttsx3==2.90
PyTweening==1.0.3
pytz==2021.1
pywin32==301
requests==2.26.0
six==1.16.0
soupsieve==2.2.1
SpeechRecognition==3.8.1
tzlocal==2.1
urllib3==1.26.6
